
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  position: relative;
  float: left;
  width: 220;
  height: 50px;
  margin: 10px;
  padding: 0px;
}

.text-div {
    word-wrap: break-word;
}

.grid-item > * {
    margin: 0;
    padding: 0;
  }

.chart-text {
    font-size: 10px;
   
}